@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
	font-family: "Work Sans",sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #666;
	transition: all .3s;
}
a{color: #666; font-weight: 500}
a:hover{color: #a50102; text-decoration: none;}
.text-success{color: #29be41}
.text-danger{color: #c62423;}
button:focus{outline:none;}
/*button*/
.btn{padding:15px 21px; font-size: 20px;}
.btn.btn-default:focus{ outline:none; border: none;}
.gradient-button {
	border:0;
	background-size: 200% auto;
    background-image: linear-gradient(to right, #a50102 0%, #ea4d4e 51%, #a50102 100%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-position: right center;
}


.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.bg-gradient-secondary {
  background-color: #858796;
  background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
  background-size: cover;
}

.bg-gradient-success {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
}

.bg-gradient-info {
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
  background-size: cover;
}

.bg-gradient-warning {
  background-color: #f6c23e;
  background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
  background-size: cover;
}

.bg-gradient-danger {
  background-color: #e74a3b;
  background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
  background-size: cover;
}

.bg-gradient-light {
  background-color: #f8f9fc;
  background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
  background-size: cover;
}

.bg-gradient-dark {
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
}
.outermenu{
  
}
.navmenu{
  list-style: none;
  text-align: center;
  margin:0; padding:0;
  display: none;
}
.navmenu li{
  margin:.2em;
  list-style: none;
  text-align: center;
  display: inline-block;
}
.navmenu li a{
  
  padding: 1em;
  border: .1em solid #888;
  border-radius: 1em;
  display: inline-block;
}
/*title*/
.page-title{padding: 60px 0}
.page-title h3{font-size: 30px;line-height: 38px;font-weight: 600;}
.section-title{font-size: 25px; font-weight: 600; }
.text-shadow{text-shadow: 1px 1px 1px #a50102}
.form-builder{ padding: 2em 1em; }

/*background-images*/
.bgimage{
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
}
.reg_bgimg{background-image: url('../images/bg-img.jpg');}
.circle_bgimg{background-image: url('../images/circle.png');background-position: right bottom}
.lightcircle_bgimg{background-image: url('../images/lightcircle.png');background-position: center right}

/*registration form*/
.registration_form{
	max-width: 600px;
	margin: 0 auto;
}
.registration_form .form-group .form-control{
	border: 0;
	padding: 0px 25px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 15px 0 #888;
    -moz-box-shadow: 0 0 15px 0 #888;
    box-shadow: 0 0 15px 0 #888;
}

/*featured_box*/
.featured_box {
	-webkit-box-shadow: 0 0 12px 0 #888;
    -moz-box-shadow: 0 0 12px 0 #888;
    box-shadow: 0 0 12px 0 #888;
    max-width: 540px;
    margin: 50px auto;
    /*overflow: hidden;*/
    border-radius: 30px;
    position: relative;
    background-color: #fff;
}
.featured_content{padding: 0 10px}
.date_time{padding: 5px 0; border:1px dashed; border-width: 1px 0}
.time_box{padding: 30px 50px}
.featured_bottom{padding: 36px 10px 40px 10px}
.failed_box .featured_content{border-color: #c62423}

/*question page*/
.featured_box .section-title{border-radius: 10px}
.featured_box.que_box{border-radius: 0; box-shadow: none; background-color: transparent;overflow: visible;}
.featured_box .section-title .dropleft.show .dropdown-toggle::before{content: "x"; border:none; color: #fff }
.featured_box .section-title .dropdown-toggle{
	position: absolute;
	top: 15px;
    right: -10px;
    background: transparent;
    box-shadow: none;
    border: 0;
    color: #fff;
}
.featured_box .section-title .dropdown-menu{padding: 0 20px}
.featured_box .section-title .dropdown-menu .dropdown-item{
	background: transparent;
    color: #000;
    font-size: 18px;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    transition: all .3s;
}
.question h5{color: #a50102 ; font-weight: 600;font-size: 22px;margin-bottom: 40px}
.selector {position: relative;}
.selector input[type=checkbox], .selector input[type=radio]{visibility: hidden; position:absolute;}
.selector label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  color: #a50102;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.selector label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.selector input[type=radio]:checked + label,.selector input[type=checkbox]:checked + label {
  background-color: #a80506;
    color: #fff;
}

.selector input[type=radio]:checked + label::before, .selector input[type=checbox]:checked + label {
  background-color: #fff;
}

.vh-90{
	height: 90vh!important;
}
.vh-80{
	height: 80vh!important;
}
.vh-70{
	height: 70vh!important;
}
.vh-60{
	height: 60vh!important;
}
.vh-50{
	height: 50vh!important;
}
.vh-40{
	height: 40vh!important;
}
.vh-30{
	height: 30vh!important;
}
.vh-20{
	height: 20vh!important;
}
.vh-10{
	height: 10vh!important;
}
.rounded-pill{
	-webkit-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
    -moz-box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
    box-shadow: 0 0 12px 0 rgba(32,46,60,.06);
}
.dropdown-close{display: none;}

.global_footer {
    width: 100%;
    background: #d31112;
    text-align: center;
}
.global_footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 14px;
}

.global_footer ul li a:active{
	color: #fff;
}
.global_footer ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.legal-page-content{
    color:#000;
}

@media only screen and (max-height: 500px) {
	.page-title {
		padding: 5vh 0 5vh 0;
	}
	.section-title {
		font-size: 25px;
		line-height: 32px;
		margin-bottom: 5vh;
		font-weight: 600;
	}
}
@media only screen and (max-width: 1024px) {
	.featured_box .section-title .dropdown-toggle{
	  right: .1em;
	}
	.featured_box{
	  margin:15px 0;
	}
	#dropdownMenu{
    left: 0;
    width: 80%;
    position: fixed;
    top: 0;
    height: 100vh;
    background-image: url(../images/circle.png);
    background-position: right bottom;
    
    background-size: cover;
    background-repeat: no-repeat;
	}
	.dropdown-close{
	  
    display: block;
    position: absolute;
    left: 100%;
    top: .40em;
    z-index: 999;
    font-size: 2.7em;
    background: #fff;
    padding: .1em;
    color: #c02819 !important;
    border: 2px solid #be2617;
    /* border-left: none; */
    border-radius: 5px;
	  
	}
}

/*Increase default badge text size*/
a.badge{
  font-size: 100% !important;
}
/*Badge styles ends*/

@media only screen and (max-width: 500px) {
    .mobile-radio-bg-highlight{
      background-color: rgba(255, 20, 20, 0.55);
    }
}

@media screen and (max-width: 767px) {
    .page-title {
    padding: 5px 0;
}
}
